version: '3.8'
services:
  n8n:
    image: 'n8nio/n8n:latest'
    container_name: n8n
    restart: unless-stopped
    environment:
      - 'N8N_ENCRYPTION_KEY=${N8N_ENCRYPTION_KEY}'
      - DB_TYPE=sqlite
      - 'N8N_HOST=${N8N_HOST}'
      - 'N8N_PORT=${N8N_PORT}'
      - 'N8N_PROTOCOL=${N8N_PROTOCOL}'
      - 'WEBHOOK_URL=${WEBHOOK_URL}'
      - 'N8N_SECURE_COOKIE=${N8N_SECURE_COOKIE}'
    expose:
      - '5678'
    volumes:
      - 'n8n_data:/home/node/.n8n'
    networks:
      - coolify
    labels:
      - coolify.managed=true
      - traefik.enable=true
      - traefik.http.routers.n8n.rule=Host(`n8n.haigent.ai`)
      - traefik.http.routers.n8n.entrypoints=https
      - traefik.http.routers.n8n.tls=true
      - traefik.http.routers.n8n.tls.certresolver=letsencrypt
      - traefik.http.services.n8n.loadbalancer.server.port=5678
      
volumes:
  n8n_data: null
  
networks:
  coolify:
    external: true
    name: coolify